<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dart De-obfuscate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dart De-obfuscate</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-label>
          Obfuscated code
        </ion-label>
        <ion-textarea
          [(ngModel)]="obfuscatedCode"
          style="border: 2px solid grey;"
        ></ion-textarea>
      </ion-col>
      <ion-col size="6">
        <ion-label>
          symbols.json file
        </ion-label>
        <br />
        <input
          type="file"
          (change)="onFileSelected($event)"
          accept="application/json"
        />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12"></ion-col>
      <ion-col size="12"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button
          (click)="deobfuscate()"
          expand="full"
          shape="round"
          size="large"
        >
          De-obfuscate
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-textarea disabled autoGrow [(ngModel)]="report"> </ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="container">
    <!-- <ion-textarea disabled autoGrow [(ngModel)]="report"> </ion-textarea> -->
  </div>
</ion-content>
